

body {
  color: white;
  font-family: 'Nunito', sans-serif;
  padding: 15px;
  background: linear-gradient(
    45deg,
    #245E4D,
    #000403,
    #2B69B2
  );
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.custom-data-grid .MuiDataGrid-cell,
.custom-data-grid .MuiDataGrid-columnSeparator,
.custom-data-grid .MuiDataGrid-row {
  border-color: transparent !important;
}

.title {
  font-weight: bold;
  font-size: 25px;
  color: darkgoldenrod;
  font-family: 'Lato', sans-serif;
}

.title:hover {
  color: #dfebe7;
}


.datagrid .wrap-text {
  white-space: normal !important;
  word-wrap: break-word !important;
}

.user_profile {
  border-radius: 20px;
  width: 200px;
}

.about-title {
  font-weight: bold;
  font-size: 50px;
  color: darkgoldenrod;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

p {
  font-size: 20px;
  color: #dfebe7;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 30px;
  color: darkgoldenrod;
  font-family: 'Lato', sans-serif;
}

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.header-text {
  font-size: 30px;
  color: white;
  font-family: 'Lato', sans-serif;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
  width: 100%;
 }

.pulse-graphic {
  width: 100%;
}

.about-text {
  font-size: 25px;
  color: #dfebe7;
  font-family: 'Lato', sans-serif;
  padding-left: 60px;
  line-height: 1.5;
  width: 90%;
}

strong {
  font-weight: bold;
  font-size: 25px;
  color: darkgoldenrod;
  font-family: 'Lato', sans-serif;
}

