

body {
  color: white;
  font-family: 'Nunito', sans-serif;
  margin: 40px;
  padding: 15px;
  background: linear-gradient(
    45deg,
    #245E4D,
    #000403,
    #2B69B2
  );
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.custom-data-grid .MuiDataGrid-cell,
.custom-data-grid .MuiDataGrid-columnSeparator,
.custom-data-grid .MuiDataGrid-row {
  border-color: transparent !important;
}

.title {
  font-weight: bold;
  font-size: 20px;
  color: darkgoldenrod;
}

.datagrid .wrap-text {
  white-space: normal !important;
  word-wrap: break-word !important;
}

.user_profile {
  border-radius: 20px;
  width: 200px;
}