body {
  color: #dfebe7;
  font-family: "Nunito", sans-serif;
  padding: 15px;
  background: linear-gradient(45deg, #245e4d, #000403, #2b69b2);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.custom-data-grid .MuiDataGrid-cell,
.custom-data-grid .MuiDataGrid-columnSeparator,
.custom-data-grid .MuiDataGrid-row {
  border-color: transparent !important;
}

.title {
  font-weight: bold;
  font-size: 25px;
  color: darkgoldenrod;
  font-family: "Lato", sans-serif;
}

.title:hover {
  color: #dfebe7;
}

.datagrid .wrap-text {
  white-space: normal !important;
  word-wrap: break-word !important;
}

.user_profile {
  border-radius: 20px;
  width: 200px;
}

.about-title {
  font-weight: bold;
  font-size: 50px;
  color: darkgoldenrod;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

p {
  font-size: 20px;
  color: #dfebe7;
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 30px;
  color: darkgoldenrod;
  font-family: "Lato", sans-serif;
}

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.header-text {
  font-size: 30px;
  color: #dfebe7;
  font-family: "Lato", sans-serif;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
  width: 100%;
}

.pulse-graphic {
  width: 100%;
}

.about-text {
  font-size: 25px;
  color: #dfebe7;
  font-family: "Lato", sans-serif;
  padding-left: 60px;
  line-height: 1.5;
  width: 90%;
}

strong {
  font-weight: bold;
  font-size: 25px;
  color: darkgoldenrod;
  font-family: "Lato", sans-serif;
}

.footer-text {
  font-size: 15px;
  color: #dfebe7;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-size: 35px;
  color: #dfebe7;
  opacity: 0.5;
  letter-spacing: 25px;
  font-family: "lato";
  margin-bottom: 50px;
  background: transparent;
	animation: pulse-white 2s infinite;
  border-radius: 50%;
}

@keyframes pulse-white {
	0% {
		transform: scale(0.98);

  	}
	
	70% {
		transform: scale(1);
	}
	
	100% {
		transform: scale(0.98);
	}
}


.home-title:hover {
  color: #dfebe7;
  opacity: 1;

}

.welcome-user {
  font-size: 15px;
  color: #dfebe7;
  opacity: 1;
  letter-spacing: 1px;
  font-family: "lato";
}

.MuiDataGrid-overlay {
  color: transparent !important;
  background-color: transparent !important;
}

.home-logo {
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 100px black;
  border-radius: 800px;


	animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
		transform: scale(0.98);
		box-shadow: 1px rgba(255, 82, 82, 0.1);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 5px rgba(255, 82, 82, 0.3);
	}
	
	100% {
		transform: scale(0.98);
		box-shadow: 1px rgba(255, 82, 82, 0.2);
}
}

.MuiDataGrid-columnHeadersInner {
  color: #dfebe7 !important;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}