:root {
  height: 100%;
display: flex;
align-items: center;
justify-content: center;
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
line-height: 1.5;
font-weight: 400;
color-scheme: light dark;
opacity: 0.7;
background: linear-gradient(45deg, #4f5b4b 0%,#2f4347 20%,#13281b 33%,#000000 58%,#002d33 83%,#002400 100%);

}

html {
  height: 100%
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.userImg {
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
}

